<div class="publication-list">
  {% for publication in site.data.publications %}
    <article class="publication">
      <h3><strong class="publication-date">[{{ publication.year }}]</strong> {{ publication.title }}</h3>
      <p class="authors">{{ publication.authors_before }}<strong>TMT Vu</strong>{{ publication.authors_after }}.</p>
      <p class="venue">{{ publication.venue }}.</p>
      {% if publication.paper != "" or publication.arxiv != "" or publication.code != "" or publication.bibtex != "" %}
      <div class="publication-links">
        {% if publication.paper != "" %}<a href="{{ publication.paper }}">Paper</a>{% endif %}
        {% if publication.arxiv != "" %}<a href="{{ publication.arxiv }}">arXiv</a>{% endif %}
        {% if publication.code != "" %}<a href="{{ publication.code }}">Code</a>{% endif %}
        {% if publication.bibtex != "" %}<a href="{{ publication.bibtex }}">BibTeX</a>{% endif %}
      </div>
      {% endif %}
    </article>
  {% endfor %}
</div>
